body {
    font-family: Arial;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.page {
    display: none;
}

button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
}

#result {
    font-size: 26px;
    margin-top: 20px;
}

#userMBTI {
    font-weight: bold;
    text-transform: uppercase;
}

.center {
    display: block;
    margin: auto;
    width: 300px;
}

#progressContainer {
    width: 100%;
    background: #ddd;
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
}

#progressBar {
    height: 10px;
    width: 0%;
    background: #ffe988;
    transition: width 0.3s;
}